.bg-page-portfolio{
    background-image: url("../image/02Back.jpg");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}

.portfolioPageContainer{
    width: 1200px;
    color: white;
}

.portfolioPageHead{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolioContainer{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioContent{
    width: 18%;
    height: 50%;
    //border: 1px solid white;
    //display: flex;
    position: relative;
}

.imagesPortfolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
    z-index: 10;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.imagesPortfolio:hover{
    z-index: 0;
    opacity: 0;
}

.bg-imagesPortfolio:hover{
    z-index: 10;
}

.bg-imagesPortfolio{
    //opacity: 1;
    background-color: #964a55;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 100%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.iconsPortfolio{
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
}

.iconsPortfolio:hover{
    transform: scale(1.1);
}

.bg-imagesPortfolio h1{
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.bg-imagesPortfolio p{
    padding: 10px;
    font-size: 12px;
    text-align: center;
    height: 150px;
    overflow: hidden;
}

.containerIconsPortfolio{
    display: flex;
    justify-content: space-around;
}