*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.bg-page{
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
// html::-webkit-scrollbar{
//   display: none;
// }
html {
  scroll-behavior: smooth;
}